.App {
  display: grid;
  grid-template-columns: repeat(4, 15vmin);
  grid-template-rows: repeat(4, 15vmin);
  gap: 2vmin;
  border-radius: 1vmin;
  border: 2vmin solid #bbada0;
  background-color: #bbada0;
}

.reset-button {
  margin: 0 auto 15px;
  background: #f67c5f!important;
}